extends common/sidebar.pug
block head
  include common/head.pug
  +head(title)

block page_content
    p.text-lg Welcome to your User Dashboard
    .pt-5
      p.text-md Your application goes in here. Check out our guides on 
        a(href="https://docs.saasbox.net").text-blue-600.hover_text-blue-800.visited_text-purple-600
          | how to embed a no code application.
      .pt-5
        p.text-md The one time code (otc) that defines this user to your embed: 
         span.font-semibold
           | #{otc}
block footer