extends common/sidebar.pug
block head
  include common/head.pug
  +head(title)

block page_content
    h3.font-bold.leading-5.text-xl Welcome to your User Dashboard
    .pt-5
      p.text-md Your application will be added in this area. 
    .pt-5
      p.text-md The one time code (otc) that defines this user to your embed: 
        span.font-semibold
          | #{otc}
    .pt-5
      h3.font-bold.leading-5.text-xl How To Edit This page
      p.text-md For quick edits and tests, you may edit this page from 
        a(href="/dashboard/templates", target="_blank").text-blue-600.hover_text-blue-800.visited_text-purple-600
          | Dashboard Templates 
        | by accessing 
        span.font-semibold edit > app > main > edit
      p.text-md You may also 
        a(href="https://github.com/saasbox-templates/with-atis-light").text-blue-600.hover_text-blue-800.visited_text-purple-600
          | download the template (github link) 
        | and  
        a(href="https://www.loom.com/embed/0b2339749e274be2aa2b81efe94be84c").text-blue-600.hover_text-blue-800.visited_text-purple-600
          | Check out this video on how to deploy front-end changes.
        | (recommended).
    .pt-6
      h3.font-bold.leading-5.text-xl Embedding Nocode applications
      p.text-md Check out our guides on 
        a(href="https://docs.saasbox.net").text-blue-600.hover_text-blue-800.visited_text-purple-600
          | how to embed a no code application with Bubble, Retool, Appsmith & more.
    .pt-6
      h3.font-bold.leading-5.text-xl External SaaS residing at app.yourdomain.com
      p.text-md You may skip using this dashboard with your own set up at app.yourdomain.com
      p.text-md Check out our NextJS/React guide 
        a(href="https://docs.saasbox.net").text-blue-600.hover_text-blue-800.visited_text-purple-600
          | on how to achieve this.

block footer
