extends common/sidebar.pug
block head
  include common/head.pug
  +head(title)

block page_content
  p.text-lg Welcome to your User Dashboard
  p.text-md Your application goes in here.
block footer
  script(src='https://cdn.jsdelivr.net/npm/apexcharts')
  script(src=asset('app/js/charts-demo.js'))