doctype html
html(lang='en')
  include common/head.pug
  +head(title)
  body.antialiased.bg-body.text-body.font-body
    div
      include common/sidebar.pug
      +sidebar()
    script(src='https://cdn.jsdelivr.net/npm/apexcharts')
    script(src=asset('app/js/charts-demo.js'))
