extends common/sidebar.pug
block head
  include common/head.pug
  +head(title)

block page_content
  p Setup!

block footer
  script(src='https://cdn.jsdelivr.net/npm/apexcharts')
  script(src=asset('app/js/charts-demo.js'))