doctype html
html(lang='en')
  include common/head.pug
  +head("Send Password Reset Email")
  body.antialiased.bg-body.text-body.font-body
    div
      include common/navbar.pug
      +navbar()
      section.min-h-screen.py-10.lg_py-20.bg-gray-50
        .container.mx-auto.px-4
          .max-w-xl.mx-auto
            .mb-10
              a.text-white.text-3xl.font-bold.leading-none(href='#')
                img.h-12.mx-auto(src=thisApp.ImageUrl, alt width='auto')
            .p-6.lg_p-12.mb-6.bg-white.shadow-md.rounded
              .mb-6
                span.text-gray-500 Enter your email to receive password reset instructions
                h3.text-2xl.font-bold.text-white Enter Your Email
              form(action='/user/reset-password-email' + (redirect ? "?redirect=" + redirect : ""), method='POST')
                .mb-3.flex.p-4.bg-gray-800.rounded
                  input.w-full.text-xs.text-gray-50.bg-gray-800.outline-none(placeholder='Enter your email', required=true, name='email', type='email', value='')
                  svg.h-6.w-6.ml-4.my-auto.text-gray-300(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207')
                .text-center
                  button(type="submit").mb-2.w-full.py-4.bg-purple-600.hover_bg-purple-700.rounded.text-sm.font-bold.text-gray-50.transition.duration-200 Submit
            p.text-xs.text-center.text-gray-400
              a.underline.hover_text-gray-500(href='#') Policy privacy
              |  and 
              a.underline.hover_text-gray-500(href='#') Terms of Use
          .mt-4.grid.grid-cols-4.gap-y-6.gap-x-4.sm_grid-cols-6
            if success_message
              .sm_col-span-6
                .rounded-md.bg-purple-50.p-4.mb-2
                  .flex
                    .flex-shrink-0
                      svg.h-5.w-5.text-purple-400(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor")
                        path(fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd")
                    .ml-3
                      h3.text-sm.leading-5.font-medium.text-purple-800
                        | #{success_message}
          .mt-4.grid.grid-cols-4.gap-y-6.gap-x-4.sm_grid-cols-6
            if errors && errors.email
              .sm_col-span-6
                .rounded-md.bg-yellow-50.p-4
                  .flex
                    .flex-shrink-0
                      svg.h-5.w-5.text-yellow-400(viewBox='0 0 20 20', fill='currentColor')
                        path(fill-rule='evenodd', d='M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z', clip-rule='evenodd')
                    .ml-3
                      h3.text-sm.leading-5.font-medium.text-yellow-800.
                        #{errors.email}
      include common/footer-simple.pug
      +footer_simple()